// COLORS
$base_primary: #F4F3EE;
$base_secondary: #E5E5E5;
$primary_color: #C32C72;
$secondary_color: #8D8D8D;
$default_color: white;

// TYPOGRAPHY 
$main_font: "Open Sans", Arial, Helvetica, sans-serif;