// COLORS
$base_primary: #F4F3EE;
$base_secondary: #E5E5E5;
$primary_color: #C32C72;
$secondary_color: #8D8D8D;
$default_color: white;
$heading_color: #262626;

// TYPOGRAPHY 
$main_font: 'Open Sans', sans-serif, Arial, Helvetica;
$soft_shadow: 0px 12px 15px -4px #00000014;